:root {
    --primary-color: rgb(255, 0, 251);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    background-image: url(https://i.postimg.cc/sxtd9fNy/beest.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Noto Sans Georgian', sans-serif;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
}

#btn-background {
    background: #ff5ad0;
    width: 150px;
    height: 46px;
    position: absolute;
    z-index: -1;
    top: -8px;
    border-radius: 8px;
    transition: 0.6s;
}

.main-container {
    background: rgba(0, 0, 0, 0.595);
    color: white;
    width: 500px;
    height: 600px;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.navbar-container {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    padding: 10px;
}

.navbar-container a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

#body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    align-items: center;
    transition: 1s;
    position: relative;
}

input {
    width: 250px;
    text-align: center;
    height: 35px;
    border: none;
    outline: none;
    background: none;
    border-radius: 4px;
    color: white;
    box-sizing: border-box;
    cursor: pointer;
    border-bottom: 2px solid white;
    margin-top: 30px;
    animation-name: containershake;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-iteration-count: 1;
}

input:focus,
input:valid {
    border-bottom: 3px solid rgb(255, 0, 251);
}


.button-login {
    text-align: center;
}

.button-container {
    text-align: center;
    padding: 4px;
    display: block;
}

#login {
    text-align: center;
    width: 100px;
    height: 30px;
    font-size: medium;
    background: none;
    border: 1px solid rgb(255, 0, 251);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;

}

@keyframes buttonshake {
    0% {
        transform: rotateZ(5deg);
    }

    50% {
        transform: rotateZ(-5deg);
    }

    75% {
        transform: rotateZ(5deg);
    }

    100% {
        transform: rotateZ(0deg);
    }
}

#login:hover {
    background: rgb(255, 0, 251);
    border: none;
    color: white;
    box-shadow: 0 0 5px var(--primary-color),
        0 0 25px var(--primary-color),
        0 0 50px var(--primary-color),
        0 0 100px var(--primary-color);
    animation-name: buttonshake;
    animation-duration: 0.4s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    font-size: larger;
}

#forgot {
    text-decoration: none;
    font-size: large;
    color: white;
}

#forgot:hover {
    text-decoration: underline;
}

#logo-animation {
    animation-name: logoanimation;
    animation-duration: 5s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

@keyframes logoanimation {
    100% {
        transform: rotateY(360deg);
    }
}



.navbar-buttons {
    transition: 0.4s;
    position: relative;
}

.navbar-buttons a:hover {
    text-shadow: 0px 0px 10px var(--primary-color);
}

.input1 {
    position: relative;
}


label {
    position: absolute;
    top: 33px;
    left: 10px;
    transition: 0.6s;
    cursor: pointer;
}

input:focus+label,
input:valid+label {
    top: 14px;
    font-size: small;
    left: -10px;
}

input:focus+label i,
input:valid+label i {
    animation-name: animationopacity;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes animationopacity {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}



/* რეგისტრაცია ================================= */

#register-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
}

@keyframes containershake {
    0% {
        transform: rotateZ(5deg);
    }

    50% {
        transform: rotateZ(-5deg);
    }

    75% {
        transform: rotateZ(5deg);
    }

    100% {
        transform: rotateZ(0deg);
    }
}

#register-btn {
    width: 100px;
    height: 40px;
    font-size: small;
    cursor: pointer;
    border: 1px solid var(--primary-color);
    color: white;
    background: none;
    border-radius: 8px;
    margin-top: 20px;
}

#register-btn:hover {
    background: rgb(255, 0, 251);
    border: none;
    color: white;
    box-shadow: 0 0 5px var(--primary-color),
        0 0 25px var(--primary-color),
        0 0 50px var(--primary-color),
        0 0 100px var(--primary-color);
    animation-name: buttonshake;
    animation-duration: 0.4s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    font-size: medium;
}


#hacker {
    font-size: larger;
    margin-right: 10px;
}

#nickname {
    font-size: larger;
    margin-right: 10px;
}

.logo-container {
    height: 150px;
}

.main-container a span {
    position: absolute;
    display: block;
    width: 27%;
    height: 4px;
    background: linear-gradient(150deg, transparent, #ffc000);
}

.first-child {
    position: absolute;
    top: -17.8%;
    left: 5%;
    /* box-shadow: 0px 0px 10px rgb(226, 43, 180),
        0px 0px 20px rgb(226, 43, 180),
        0px 0px 30px rgb(226, 43, 180),
        0px 0px 40px rgb(226, 43, 180); */
    animation-name: firstchildanimation;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

@keyframes firstchildanimation {
    0% {
        left: -30%;
    }

    100% {
        left: 100%;
    }
}

.second-child {
    position: absolute;
    top: -30%;
    left: 86.2%;
    /* box-shadow: 0px 0px 10px blueviolet,
        0px 0px 20px blueviolet,
        0px 0px 30px blueviolet,
        0px 0px 40px blueviolet; */
    animation-name: secondchildanimation;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    transform: rotateZ(90deg);
}

@keyframes secondchildanimation {
    0% {
        top: -35%;
    }

    100% {
        top: 130%;
    }
}

.thrid-child {
    position: absolute;
    top: 115.3%;
    left: 105%;
    transform: rotateZ(180deg);
    /* box-shadow: 0px 0px 10px rgb(226, 43, 180),
        0px 0px 20px rgb(226, 43, 180),
        0px 0px 30px rgb(226, 43, 180),
        0px 0px 40px rgb(226, 43, 180); */
    animation-name: thridchildanimation;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

@keyframes thridchildanimation {
    0% {
        left: 102%;
    }

    100% {
        left: -30%;
    }
}

.nth-child {
    position: absolute;
    top: 100%;
    left: -13%;
    transform: rotateZ(-90deg);
    /* box-shadow: 0px 0px 10px rgb(226, 43, 180),
        0px 0px 20px rgb(226, 43, 180),
        0px 0px 30px rgb(226, 43, 180),
        0px 0px 40px rgb(226, 43, 180); */
    animation-name: nthchildanimation;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

@keyframes nthchildanimation {
    0% {
        top: 130%;
    }

    100% {
        top: -35%;
    }
}

.child-reg1 {
    position: absolute;
    top: 0%;
    left: 5%;
    /* box-shadow: 0px 0px 10px rgb(226, 43, 180),
        0px 0px 20px rgb(226, 43, 180),
        0px 0px 30px rgb(226, 43, 180),
        0px 0px 40px rgb(226, 43, 180); */
    animation-name: first;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

@keyframes first {
    0% {
        left: -30%;
    }

    100% {
        left: 100%;
    }
}


.child-reg2 {
    position: absolute;
    top: 99.3%;
    left: 105%;
    transform: rotateZ(180deg);
    /* box-shadow: 0px 0px 10px rgb(226, 43, 180),
        0px 0px 20px rgb(226, 43, 180),
        0px 0px 30px rgb(226, 43, 180),
        0px 0px 40px rgb(226, 43, 180); */
    animation-name: thrid;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

@keyframes thrid {
    0% {
        left: 100%;
    }

    100% {
        left: -30%;
    }
}

.child-reg4 {
    position: absolute;
    top: -20%;
    left: 86.2%;
    /* box-shadow: 0px 0px 10px blueviolet,
        0px 0px 20px blueviolet,
        0px 0px 30px blueviolet,
        0px 0px 40px blueviolet; */
    animation-name: child4;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    transform: rotateZ(90deg);
}

@keyframes child4 {
    0% {
        top: -14%;
    }

    100% {
        top: 130%;
    }
}


.child-reg3 {
    position: absolute;
    top: 100%;
    left: -13%;
    transform: rotateZ(-90deg);
    /* box-shadow: 0px 0px 10px rgb(226, 43, 180),
        0px 0px 20px rgb(226, 43, 180),
        0px 0px 30px rgb(226, 43, 180),
        0px 0px 40px rgb(226, 43, 180); */
    animation-name: child3;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

@keyframes child3 {
    0% {
        top: 110%;
    }

    100% {
        top: -14%;
    }
}